.container{
	width: 80%;
	margin: 0 auto;
}
.header{
	border: 3px solid black;
	display: flex;
	flex-direction: row;
	padding-bottom: 5%;
}
.nav{
	height: 40px;
	border-left: 3px solid black;
	border-right: 3px solid black;
	text-align: center;
	padding-top: 3%;
}
.main{
	height: 200px;
	border: 3px solid black;

}
.project{
	width: 180px;
	margin-left: 42%;
	text-align: center;
	margin-top: 2%;
}
img{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin-left: 5%;
	margin-top: 5%;
}
h2{
	margin-top: 10%;
	margin-left: 3%;
}
button{
	border-radius: 50px;
}
a{
	font-size: 19px;
	text-decoration: none;
	color: white;
}